#loading-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #fff;
    font-size: 18px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.chart {
    width: 100% !important;
    max-width: none !important;
}

.chart-wrapper {
    display: grid !important;
    grid-template-columns: 340px 340px !important;
    justify-content: flex-start;
}

.chart-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 340px;  
    box-sizing: border-box;
}


.chart-filter form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

main{
    min-height: 100vh;
    padding: 2rem;
}
