*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.inp-body{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.inp-body label{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.inp-body input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    outline: none;
    font-size: 1rem;
}

.submit{
    display: flex;
    justify-content: end;
}

.submit button{
    width: 100px;
    padding: 1rem 1rem;
    border: none;
    background-color: #007bff;
    border-radius: 7px;
    color: #fff;
    font-size: 1rem;
}

.submit button:hover{
    background-color: #0056b3;
}

.captcha-box {
    align-items: center;
    text-align: center;
    width: 100%;
}

.captcha-box img {
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.captcha-box input {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}
