*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 30%;
    padding: 5rem 2rem;
    background-color: #444;
    border-radius: 1.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flex;
}

h1{
    font-size: 2.5rem;
    color: white;
}

h2{
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
}

p{
    color: #c0c0c0;
    font-size: 1.2rem;
}

.left-content{
    padding: 2rem;
    align-items: center;
}

.right-content{
    display: flex;
    align-items: center;
}

.username,.password,.submit{
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    font-size:1.2rem;
}

label{
    font-size: 1.2rem;
    color: white;
    padding-bottom: 0.2rem;
}

input{
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
}

button{
    font-size: 1.2rem;
    border: none;
    padding: 0.3rem;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

button:hover{
    background-color:red ;
    color: white;
}