*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #343434;
}

nav,main,footer{
    max-width: 2000px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.left-side ul, .right-side ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight:600;
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: #575757;
    border-radius: 5px;
    background-color: white;;
}

.right-side li p{
    font-size: 1.3rem;
    color: white;
    text-decoration: underline;
    font-weight: 650;
}