body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

form{
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

P{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

label{
    padding-top: 1rem;
    font-size: 1.2rem;
}

input[type="text"], input[type="email"], input[type="number"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

button{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3;
}

a{
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}